@model Mission6_zm275.Models.FormModel

@{
    ViewData["Title"] = "View";
}

<h1>Films</h1>

<h4>Add films here</h4>
<hr />
<div class="row">
    <div class="col-md-4" >
        <form method="post" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Director" class="control-label"></label>
                <input asp-for="Director" class="form-control" />
                <span asp-validation-for="Director" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="SelectedItem">Select a rating:</label>

            <select asp-for="SelectedItem" asp-items="Model.Items" class="form-control"></select>
            <span asp-validation-for="SelectedItem" class="text-danger"></span>
        </div>*@
            <div class="form-group">
            <label asp-for="SelectedItem">Select a rating:</label>

            <select asp-for="SelectedItem" class="form-control">
                <option value=1>G</option>
                <option value=2>PG</option>
                <option value=3>PG-13</option>
                <option value=4>R</option>
            </select>
            <span asp-validation-for="SelectedItem" class="text-danger"></span>
        </div>
            <div class="form-group">
                <label asp-for="LentTo" class="control-label"></label>
                <input asp-for="LentTo" class="form-control" />
                <span asp-validation-for="LentTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Edited" /> @Html.DisplayNameFor(model => model.Edited)
                </label>
            </div>
            <div class="form-group">
                <button type="submit" >Create</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
