@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}
@model FormModel


<body>
    <div class="hero-section">
        <div class="hero">
            <img src="~/img/JoelHiltonHeadshot.jpg" alt="Hero Image">
            <h1 class="hero-title">Welcome to my website</h1>
        </div>
    </div>
</body>


